<ion-header>
  <ion-navbar>
    <ion-title>
   <h1 class="head1">
           {{'Search'|translate}}
          </h1>
          <p class="cartNo">{{cartNo.cartNo}}</p>
      <ion-icon  ios="ios-cart" md="md-cart" class="carticon"  (click)="getCart()"></ion-icon>
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-searchbar [(ngModel)]="searchQuery" placeholder=""></ion-searchbar>
  <button ion-button block (click)="getSearch()">{{'Search'|translate}}</button>


  <div *ngFor="let product of items">
<ion-row    *ngIf="product.ads == 0" class="rowwing">
  <ion-col  col-3>
    <div style="height:100%" (click)="details(product.productid)"> 
    <img src="{{product.picpath}}" height="100%" width="100px">
  </div>
  </ion-col>
  <ion-col  col-3>  
      <ion-row>
        <ion-col col-3><div style="margin: 10px;color:green">{{product.price}}</div></ion-col>
        <ion-col col-6></ion-col>
        <ion-col col-3><img src="assets/img/cart.png" (click)="addToCart(product.productid)"></ion-col>
      </ion-row>  
          <div style="margin: 10px;">{{product.productname}}</div>
      <ion-row>
            <ion-col col-9>
            </ion-col>
             <ion-col col-3 style="text-align:end ; padding:0 10px"><img src="assets/img/wish.png" (click)="addToWish(product.productid)"></ion-col>
      </ion-row>             
  </ion-col>
</ion-row>
</div>


  <div class="items-view">
    <div class="single-item" *ngFor="let product of items">
      <div class="itemHolder"  (click)="details(product.productid)">
        <img src="{{product.picpath}}">
      </div>
      <div class="controls">
        <div class="add-cart">
          <img src="assets/img/cart.png"  (click)="addToCart(product.productid)">
        </div>
         <div class="itemText">
              <div class="itemName">{{product.productname}}</div>
              <div class="itemPrice">{{product.price}}</div>
         </div>
        <div class="add-wish" >
          <img src="assets/img/wish.png"(click)="addToWish(product.productid)">
        </div>
      </div>
    </div>
  </div>

</ion-content>
